

/* --- YOUR CODE STARTS HERE --- */
.left {
  float: left;
}

.right {
  float: right;
}

/*----------HEADER1------------------*/
#header {
    background: lightgray;
    padding: 12px;
    width: 65.8%;
    border: 1px solid lightgrey;
    margin: 0 auto;

}

/*----------HEADER2------------------*/
#header2 {
   background: white;
    padding: 13px;
    width: 65.8%;
    border: .5px solid lightgrey;
    margin: 0 auto;
    text-align: left;
    display: flex;
}

/*profile name*/
#username {
      margin-top: -7px;
    margin-left: 7px;
    width: 75px;
    margin-bottom: -13px;
}

p {
  font-size: 12px;
  line-height: 2.5px;
  font-weight: bold;
}

span p {
  font-size: 11px;
  font-weight: unset;
}

.fa-ellipsis-h {
  flex: 1;
    text-align: right;
}


/*content under image
*/
#content {
   background: white;
    padding: 13px;
    width: 65.8%;
    height: 100px;
    overflow: auto;
    border: .5px solid lightgrey;
    margin: -3px 14.5% auto;
    text-align: left;
  }

  /*status*/
#status {
  line-height: unset;
  font-weight: unset;
  margin-top: 5px;
}

h5 {
      margin-top: 15px;
      margin-bottom: unset;
}

/*icon space helpers
*/
.iconSpace {
  padding-right: 10px;
}

.iconFooter {
  padding-right: 43px;
}


/*footer*/
#footer {
    background: lightgray;
    padding: 12px;
    width: 65.8%;
    border: 1px solid lightgrey;
    margin: 0 auto;

}
/* --- YOUR CODE ENDS HERE --- */
